

<% include templates/header.ejs %>

<br>
<div class="container">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script>
        var url
        if ('<%= ip %>' == 'localhost') {
            url = 'http://localhost:3000';
        } else {
            url = 'http://<%= ip %>:3000';
        }
        var socket = io.connect(url);
        socket.on('tweet', function(twitter) {
            $('#sentCounter').empty().append(twitter.sentimentCounter);
            $('#avgScore').empty().append(twitter.avgScore);
            $('#reaction').empty().append("Twitter is feeling" + twitter.reaction);
            $('#posCounter').empty().append(twitter.posCounter);
            $('#neutCounter').empty().append(twitter.neutCounter);
            $('#negCounter').empty().append(twitter.negCounter);
            $('#tweetBox').append(twitter.tweet + '<br>');
            $('#tweetBox').scrollTop($('#tweetBox')[0].scrollHeight);
            $('#commonWords').empty().append(twitter.commonWords[0] + '<br>' +
            twitter.commonWords[1] + '<br>' + twitter.commonWords[2] + '<br>' +
            twitter.commonWords[3] + '<br>' + twitter.commonWords[4] + '<br>' +
            twitter.commonWords[5] + '<br>' + twitter.commonWords[6] + '<br>' +
            twitter.commonWords[7] + '<br>' + twitter.commonWords[8] + '<br>' +
            twitter.commonWords[9]);
        });
    </script>

    <p><b>Note: </b>Seperate different keywords with comas or submit them one after the other</p>
    <br>
    <b>Twitter Stream (English Language only & No Retweets)</b>
    <div id="tweetBox" style="max-height:400px;min-height:400px;overflow:auto;"></div>
    <hr>
    <b>Sentiment Analysis</b>
    <br>
    <div id="reaction" style="display:inline;"></div>
    <br>
    Average Sentiment Score: <div id="avgScore" style="display:inline;">0</div>
    <br>
    Positive:<div id="posCounter" style="display:inline;color:green">0</div>,
    Neutral:<div id="neutCounter" style="display:inline;color:blue">0</div>,
    Negative:<div id="negCounter" style="display:inline;color:red">0</div>
    <hr>
    <b>10 most common words: </b> <br>
    <div id="commonWords" style="display:inline;"></div>
</div>

</body>
</html>
