<% include templates/headerSelect.ejs %>

<div class="container">
    <br>
    <b>
        Socket.IO config: <br>
        Is this application hosted on a local machine or cloud?
    </b>

    <br>
    <br>

    <input type="button" value="Local Machine" class="btn btn-default"
           onclick="location.href='/home/localhost'">
    http://127.0.0.1:port OR http://localhost:port

    <br>
    <br>
    <input type="button" value="Cloud" class="btn btn-default"
           onclick="location.href='/home/<%= ipV4 %>'">
    http://<%= ipV4 %>:port

</div>

</body>
</html>