<!DOCTYPE html>
<html lang="en">
<head>
    <title>TweetCloud</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
        $(window).on('hashchange', function(e) {
            history.replaceState("", document.title, e.originalEvent.oldURL);
        });
    </script>
</head>

<body class="body" style="background-color:#f6f6f6">

<div class="container">
    <div style="background-color:#fff">
        <ul class="nav nav-pills">

            <li><a href='/'><font size="5">TweetCloud</font></a></li>
            <li>
                <form class="navbar-form">

                    <input type="text" id="keyword" class="form-control"
                           placeholder="Search Twitter"
                           value="<%= keyword %>"
                           data-toggle="tooltip"
                           title="Seperate different keywords with comas">

                    <input type="button" value="Submit" class="btn btn-default"
                           onclick="location.href='/tweet/<%= ip %>/' +
                           document.getElementById('keyword').value.replace('#','%23');">

                </form>
            </li>
        </ul>
    </div>
</div>
